<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Systems Analysis Jeopardy</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/animate.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">SDLCpardy</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="team-score" id="team-score-1"><a>Team 1: <span class="score">0</span></a></li>
                        <li class="team-score" id="team-score-2"><a>Team 2: <span class="score">0</span></a></li>
                        <li class="team-score" id="team-score-3"><a>Team 3: <span class="score">0</span></a></li>
                        <li class="team-score" id="team-score-4"><a>Team 4: <span class="score">0</span></a></li>
                        <li class="team-score" id="team-score-5"><a>Team 5: <span class="score">0</span></a></li>
                        <li class="team-score" id="team-score-6"><a>Team 6: <span class="score">0</span></a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="btn btn-warning">Reset</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">

            <div class="main-container">

                <div class="row">
                    {% for category in jeopardy.questions %}
                        <div class="col-md-2 {% if loop.first %}col-md-offset-1{% endif %} jeopardy-panel jeopardy-body-header">{{ category.name }}</div>
                    {% endfor %}
                </div>

                {% for question in 0..jeopardy.questions|length-1 %}
                <div class="row questions-{{ question }}">
                    {% for item in 0..jeopardy.questions|length-1 %}
                    <div class="col-md-2 {% if item==0 %}col-md-offset-1{% endif %} jeopardy-panel jeopardy-body" id="question-{{ question }}-{{ item }}">
                        <a data-toggle="modal"
                           data-target="#questionanswerholder"
                           data-jeopardy-value="{{ jeopardy.questions[item].values[question].points }}"
                           data-jeopardy-question="{{ jeopardy.questions[item].values[question].question }}"
                           data-jeopardy-answer="{{ jeopardy.questions[item].values[question].answer }}">$ {{ jeopardy.questions[item].values[question].points }}</a>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

                <div class="modal fade" tabindex="-1" role="dialog" id="questionanswerholder">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="answer-container">
                                    <p class="answer"></p>
                                    <span id="clock"></span>
                                </div>

                                <div class="question-container hidden">
                                    <p class="question"></p>

                                    <form id="doScore">
                                        <label> Team
                                            <select class="select_team" name="team">
                                                <option value="1">Team 1</option>
                                                <option value="2">Team 2</option>
                                                <option value="3">Team 3</option>
                                                <option value="4">Team 4</option>
                                                <option value="5">Team 5</option>
                                                <option value="6">Team 6</option>
                                            </select>
                                        </label>

                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="answer-correct" value="1">
                                                Correct
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="answer-incorrect" value="0">
                                                Incorrect
                                            </label>
                                        </div>

                                        <input type="hidden" name="points" id="point-value">
                                        <input type="submit" value="Submit Score">
                                    </form>

                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


            </div>

        </div><!-- /.container -->

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/jquery.countdown.min.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>
